# Binaries and executables
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binaries and output files
*.test
*.out
*.prof

# Editor / IDE settings
.idea/
.vscode/
*.swp
*.swo

# OS files
.DS_Store

# Node.js and Playwright test artifacts
node_modules/
test-results/
playwright-report/
blob-report/

venv/
.venv/
__pycache__/
*.pyc
.pytest_cache/
.env
